@import "tailwindcss";

:root {
  --background: #fafaf9; /* stone-50 */
  --foreground: #1c1917; /* stone-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "IBM Plex Sans Arabic", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
